* {
  font-family: 'Garamond';
  scroll-behavior: smooth;
}


.App {
  text-align: center;
  margin: 0px;
}

.container {
  margin: 0;
  margin-inline: 4%;
  padding-top: 5%;
}

.navbar {
  width: 100%;
  background-color: white;

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: fixed;
}

.nav-btn {
  font-size: 100%;
  font-weight: 550;
  letter-spacing: .25em;

  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-inline: 10px;
  height: 100%;

  color: black;
  border-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}

.nav-btn:hover {
  font-size: 100%;
  font-weight: 550;
  letter-spacing: .25em;

  /* color: white;
  background-color: black; */
  border-color: transparent;
  cursor: pointer;
}

.home-btn {
  margin-left: 8%;
  justify-self: left;
  font-size: 110%
}

.right-btn {
  margin-right: 30px;
  background-color: white;
} 
